<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abalone-首页</title>
    <link th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" th:href="@{/css/me_for_mobileIndex.css}">
</head>
<body>


<!--中间内容-->
<div class="m-container-mini m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
                <!--header-->
                <div class="ui top attached segment m-opacity">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui violet header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin"
                                  th:text="${page.totalElements}">
                            14 </h2> 篇
                        </div>
                    </div>
                </div>

                <!--content-->
                <div class="ui attached segment m-opacity">

                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" th:href="@{mobile/blog/{id}(id=${blog.id})}"
                                                         target="_blank"
                                                         class="m-black" th:text="${blog.title}"></a></h3>
                                <p class="m-text" th:text="|${blog.description}......|"></p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui small horizontal link list">
                                            <div class="item">
                                                <div class="content"><a href="#" class="header"
                                                                        th:text="${blog.user.nickname}"></a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui violet basic label m-padded-tiny m-text-thin"
                                           th:text="${blog.type.name}"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" th:href="@{mobile/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005"
                                         th:src="@{${blog.firstPicture}}"
                                         alt="" class="ui rounded image">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
</div>

<br>
<br>
<br>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/semantic.min.js}"></script>
<script th:src="@{/js/cursor.js}"></script>
<script th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>

<!--<script th:src="@{/js/vendor/jquery-1.9.1.min.js}" src="../static/js/vendor/jquery-1.9.1.min.js"></script>-->
<script>
    alert("检测到您使用得设备非电脑端,仅支持浏览博客,更多功能请使用电脑端查看")
</script>
</body>
</html>