<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
</head>
<body>


<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >

    <nav id="nav" class="gird-header" style="display: none">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item" style="font-family: STSong">Abalone</h2>
                <!--<div class="right m-item item m-mobile-hide">-->
                <a href="#" th:href="@{/}" class="m-item item m-mobile-hide " th:classappend="${n==1} ? 'active'"><i
                        class="mini home icon"></i>首页</a>

                <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i
                        class="mini idea icon"></i>分类</a>

                <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i
                        class="mini tags icon"></i>标签</a>

                <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i
                        class="mini clone icon"></i>时间线</a>

                <a href="#" class="m-item item"><i class="book icon"></i>留言板</a>

                <a href="#" th:href="@{/link}" target="_blank" class="m-item item m-mobile-hide" th:classappend="${n==7} ? 'active'"><i class="mini linkify  icon"></i>友链</a>

                <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${n==5} ? 'active'"><i
                        class="mini info icon"></i>关于我</a>

                <a href="" th:href="@{/admin}" class="m-item item m-mobile-hide"><i
                        class="mini desktop icon"></i>后台登陆</a>
                <!--</div>-->
                <div class="right m-item item">
                    <form name="search" action="#" method="post" target="_blank">
                        <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                            <input style="color: white" type="text" name="query" placeholder="Search....">
                            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


</body>
</html>