<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abalone-时间轴</title>
    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me_for_archives.css}">
    <link rel="stylesheet" href="../static/css/timeline.css" th:href="@{/css/timeline.css}">
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
</head>

<!--导航-->
<nav id="nav" class="gird-header ui inverted attached segment  ">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui blue header item" style="font-family: STSong">Abalone</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" th:href="@{/}" class="m-item item m-mobile-hide "><i
                    class="mini home icon"></i>首页</a>

            <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i
                    class="mini idea icon"></i>分类</a>

            <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide"><i
                    class="mini tags icon"></i>标签</a>

            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide"><i
                    class="mini clock icon"></i>时间线</a>

            <a href="#" th:href="@{/message}" class="m-item item"><i class="book icon"></i>留言板</a>

            <a href="#" th:href="@{/game}" target="_blank" class="m-item item m-mobile-hide"><i
                    class="mini comment game icon"></i>&nbsp;游戏</a>

            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>

            <a href="" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide"><i
                    class="mini desktop icon"></i>&nbsp;后台</a>
            <div class="right m-item m-mobile-hide menu">
                <div th:if="${session.user}==null">
                    <div class="text">
                        <a th:href="@{/login}"><button class="ui button small grey">登录</button></a>
                        <a th:href="@{/register}"><button class="ui button small grey">注册</button></a>
                    </div>
                </div>
                <div th:if="${session.user}!=null">
                    <div class="ui dropdown item">
                        <div class="text">
                            <t th:text="${session.user.username}">...</t>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/logout}" class="item">注销</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide" style="display: none">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--顶部图片-->
<div class="m-bg-class_outer" style="width: 100%;height: 750px">
    <img th:src="@{/images/bg4.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover" align="center">
        <div class="m-margin-top-maxx" align="center">
            <img class="ui circular image" align="center" th:src="@{/images/me.jpg}"
                 style="width: 150px;height: 150px;">
        </div>
        <div class="m-font-size-title-large" align="center">Abalone</div>

        <div class="" align="center">
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="958324611" data-position="bottom center"><i
                    class="qq icon"></i></a>
            <a href="https://github.com/gavy26/" target="_blank" class="ui github circular icon button"
               data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
            <a href="https://blog.csdn.net/cgy_gavy" target="_blank" class="ui csdn circular icon button"
               data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright outline icon"></i></a>
            <a href="#" class="ui email circular icon button" data-content="gy958324611@hotmail.com"
               data-position="bottom center"><i class="envelope  icon"></i></a>
        </div>

        <div class="ui wechat-qr flowing popup transition hidden">

            <div align="center">Wechat:Miao10178</div>
        </div>
        <div class="ui qq-qr flowing popup transition hidden">

            <div align="center">QQ:958324611</div>
        </div>

        <h3 class="m-font-size-text" align="center">Welcome To Abalone</h3>
        <h3 class="m-font-size-text" align="center">代码,改变世界</h3>
        <hr style="width: 30%">
        <div id="waypoint" class="ui m-margin-top-large" align="center">
            <a th:href="@{/}" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"
            ><i class="home icon"></i>首页</a>
            <a th:href="@{/types/-1}"
               class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"
            ><i class="clone outline icon"></i>分类</a>
            <a th:href="@{/tags/-1}"
               class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"
            ><i class="tags icon"></i>标签</a>
            <a th:href="@{/archives}"
               class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"
            ><i class="clock icon"></i>时间线</a>
            <a th:href="@{/message}" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"
            ><i class="book icon"></i>留言板</a>
            <a th:href="@{/about}" class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"
            ><i class="info icon"></i>关于我</a>
            <a th:href="@{/admin/blogs}"
               class="ui circular icon button m-opacity-small m-item item m-mobile-hide m-index-btn"
            ><i class="pencil alternate icon"></i>后台</a>
        </div>
    </div>

</div>

<!--时间轴内容-->
<div  class="m-container-small m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <!--header-->
        <div class="ui top m-opacity attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui violet header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"> 114 </h2> 篇博客
                </div>
            </div>
            <th:block th:each="item : ${archiveMap}">
                <h3 class="ui center aligned header" th:text="${item.key}">2017</h3>
                <div class="ui fluid vertical menu">
                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
          <span>
            <i class="mini violet circle icon"></i><span th:text="${blog.title}">关于刻意练习的清单</span>
            <div class="ui violet basic left pointing label m-padded-mini " th:text="${#dates.format(blog.updateTime,'MMMdd')}">9月03</div>
          </span>
                        <div class="ui orange basic left pointing label m-padded-mini " th:text="${blog.flag}">原创</div>
                    </a>
                </div>
            </th:block>
        </div>

    </div>
</div>
<br>
<br>

<!--底部栏-->
<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img th:src="@{/images/wechat1.jpg}" class="ui rounded image" alt=""
                             style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">关于我</h4>
                <div class="ui inverted link list">
                    <a href="https://space.bilibili.com/411498228" class="item m-text-thin">bilibili</a>
                    <a href="https://github.com/gavy26" class="item m-text-thin">github</a>
                    <a href="https://blog.csdn.net/cgy_gavy" class="item m-text-thin">CSDN</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：gy958324611@hotmail.com</a>
                    <a href="#" class="item m-text-thin">QQ：958324611</a>
                </div>
            </div>
            <div class="four wide column">
                <!--博客运行时间统计-->
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Abalone信息</h4>
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px"
                         th:fragment="blogMessage">
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${blogCount}"> 14 </h2> 篇
                        </div>
                    </div>
                </div>
                <p class="m-text-thin m-text-spaced m-opacity-mini" style="text-align: left">
                    &nbsp;&nbsp;&nbsp;这是我的个人博客、会分享关于编程、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">Abalone已运行: <span
                id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)
        </div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2020 - 2021 Abalone Designed by Abalone</p>
    </div>

</footer>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/timeline/timeline.js" th:src="@{/lib/timeline/timeline.js}"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js"
        th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>


<script>

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2020, 03, 25, 15, 15, 15)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

</script>
</body>
</html>