<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <style>
        forall{
            background: url("../static/images/bg.jpg");
        }
    </style>
    <title>Runner</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="test"></div>
<script th:src="@{/js/runner.js}"></script>
<script>
    initRunner( '#test' );
</script>
<script th:src="@{/js/cursor.js}"></script>

</body>
</html>