<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Abalone-游客登陆</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style2.css}">
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
</head>

<body>

<div class="login-container">
    <div class="left-container">
        <div class="title"><span>注册</span></div>
        <div class="input-container">
            <form method="post">
                <input type="text" name="username" placeholder="姓名">
                <input type="text" name="email" placeholder="请填正确的邮箱! 回复留言时将需要!">
                <input type="password" name="password" placeholder="密码">
                <div class="actoin-container">
                    <input value="注册" type="submit">
                </div>
                <div style="color: #2C2827;" th:text="${wrong}"></div>
            </form>
        </div>
    </div>
</div>

</body>

</html>